.DS_Store
.*.swp
build/bin
build/classes
build/cocoapods
build/compileSync
build/distributions
build/fat-framework
build/js
build/kotlin*
build/libs
build/packages
build/processedResources
build/productionLibrary
build/publications
build/reports
build/test-results
build/tmp
.gradle
.idea
local.properties
**/xcuserdata
build
